<!DOCTYPE html>
<html>
<head>
    <title>Collin Betori - Resume</title>
    <link rel="stylesheet" href="./main.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <header>
        <h1>Collin Betori</h1>
    </header>
            <aside>
                    <a id="skills">Technical Skills</a>
                    
                    <br><a id="skilltype">JavaScript</a>
                    <br> - ES6
                    <br> - React
                    <br> - Redux
                    <br> - API Requests
                    <br> - User Forms
                    <br>     
                    <br><a id="skilltype">Node.js</a>
                    <br> - Express.js
                    <br> - Asynchronous Programming
                    <br> - Database Connections
                    <br> - Authentication and Authorization
                    <br> - RESTful APIs
                    <br>
                    <br><a id="skilltype">SQL/NoSQL</a>
                    <br> - Building and maintaining databases
                    <br> - Generating custom queries
                    <br> - MongoDB
                    <br> - PostreSQL
                    <br>
                    <br><a id="skilltype">VBA</a>
                    <br>- Loops
                    <br> - Userforms
                    <br> - Database integration
                    <br> - Outlook integration
                    <br> - Advanced IF functions
                    <br> - Project automation
                    <br>  
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br><a id="skills">Education</a>   
                    <br>Bachelor of Business Administration in Accounting - May 2015
                    <br>St. Edward’s University
                    <br>
                    <br>Full Stack Web Development - May 2019
                    <br>Austin Coding Academy
                    <br> 
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            </aside>
        <section>
            <h1 class="listHead">Continued Education</h1>
            <article>
                    <h2>Full Stack Web Developer</h2>    
                    <h4>Austin Coding Academy</h4>
                    <div>Sep 2018 - Current</div>
                        <ul>
                            <li> work included weekly projects focused on the following curriculum </li>
                            <li>HTML5, CSS3 + Animations and Transitions, Version Control Software – Git ,Responsive Web Design, JavaScript Basics & DOM Manipulation,  Input Control and Form Submissions, Immersion in Object Oriented Programming (OOP), Unit Testing + Test Driven Development (TDD), Callbacks and Functional Programming, Interact with remote APIs and manipulate data, SQL/NoSQL Databases, Serve Express.js routes, Node.js, MVC - Model, View, Controller, Maintain app state with Redux, Handle Client-Side Routing, Host, deploy and manage web applications
                            </li>
                        </ul>
                </article>
            <h1 class="listHead">Work Experience</h1>
            <article>
                    <h2>Salesforce Administrator/Analyst</h2>    
                    <h4>Virtus Real Estate Capital</h4>
                    <div>Jan 2019 - Current</div>
                        <ul>
                            <li>Provide management with sales analytics and industry trends</li>  
                            <li>Build out focused dashboards to provide users with insightful metrics </li>  
                            <li>Maintain and build out Salesforce database and fields</li>  
                            <li>Create highly targeted Pardot campaign lists</li>  
                            <li>Work with sales team to adapt system based on changing needs</li>  
                        </ul>
                </article>
            <article>
                <h2>Fund Accountant</h2>    
                <h4>Virtus Real Estate Capital</h4>
                <div>Jan 2017 - Current</div>
                    <ul>
                        <li>    Monitored, analyzed, and reported on fund financial performance and profitability to management </li>	
                        <li>	Assisted with risk management and risk/control assessment for funds</li>	
                        <li>	Provide fund controller with analytical analysis of fund health</li>	
                        <li>	Maintained waterfall calculations to ensure distributions were being allocated correctly</li>	
                        <li>	Prepared financial statements</li>	
                        <li>	Calculated monthly management fee, selling fees, and commissions</li>	
                        <li>	Created automated reports, including automated report generation and emails</li>	
                        <li>	Designed project management tool within Excel to improve group workflow</li>	
                        <li>	Managed internal Access database and built custom queries to generate insightful reports </li>	
                        <li>	Collaborated with finance and asset management team to produce accurate financial models</li>	
                            
                    </ul>
            </article>
            <article>
                <h2>Sales Associate/Bookkeeper</h2>
                <h4>Fond Bone Broth</h4>
                <div>Sep 2016 - Jan 2017</div>
                    <ul>
                        <li>Transitioned accounting solution from third party to in house system</li>
                        <li>Built financial reports including 2017 budget, sales report, and production report</li>
                        <li>Consulted with owners regarding proper accounting and finance reporting</li>
                        <li>Communicated with customers to gain insight and customer feedback</li>
                        <li>Sales associate at farmer’s markets, producing competitive sales numbers</li>
                        <li>Trained and mentored new associates on procedures and sales techniques</li>
                    </ul>
            </article>
        </section>
        <footer>
            <br>Address: 2515 Elmont Dr, Apt. 562
            <br>Phone: 440-812-7906
            <br>Email: CBetori@gmail.com
            <br>LinkedIn: <a href="https://www.linkedin.com/in/collinbetori/">LinkedIn/CollinBetori</a>
            <br>GitHub: <a href="https://github.com/cbetori">GitHub/CollinBetori</a>
            <br>Date of Birth: March 4, 1993
            <br>  
            <br>
        </footer>
    </body>
    </html>
